<div class="dropdown">
	<span id="config-screen-select">{{> svg/arrow }} <span id="screen-name">Config</span></span>
	<div class="dropdown-container">
		<ul class="dropdown-contents">
			<li>
				<a id="config-link">{{> svg/datapack }} Config</a>
			</li>
			<li>
				<a id="structure-link">{{> svg/structure }} Structure sets</a>
			</li>
			<li>
				<a id="biome-link">{{> svg/biome }} Biome providers</a>
			</li>
			<li>
				<a id="loot-link">{{> svg/loot }} Loot tables</a>
			</li>
		</ul>
	</div>
</div>

<style>
	.arrow {
		transform: rotate(-90deg);
		transition: transform var(--ease-out-circ) 0.25s;
	}

	#config-screen-select {
		cursor: pointer;
	}

	.dropdown {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 100%;

		padding: 0 2rem;

		&:hover,
		&:focus-within {
			.arrow {
				transform: rotate(0deg);
			}
		}

		&:hover .dropdown-container,
		&:focus-within .dropdown-container {
			visibility: visible;
			/* height: calc-size(auto); can be redone when baseline, instead of janky max height */
			max-height: 50vh;
		}
	}

	.dropdown-container {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);

		visibility: hidden;

		padding: 0.5rem;
		max-height: 0;
		overflow: hidden;

		transition:
			all var(--ease-out-quint) 0.25s allow-discrete,
			visibility 0.125s var(--ease-out-quint) allow-discrete;
	}

	.dropdown-contents {
		border: var(--border-width) solid var(--background-above-above);
		background-color: var(--background-above);

		display: flex;
		flex-direction: column;
		gap: 0.5em;

		width: max-content;
		padding: 0.5em 1em;

		list-style: none;

		li {
			display: block;
			float: left;
			position: relative;
			text-align: left;
			transition: color var(--ease-out-circ) 0.25s;

			&:hover,
			&:focus-within {
				color: var(--accent-color);
			}
		}

		a {
			color: inherit;
			text-decoration: none;
			width: 100%;
			display: block;
		}

		svg.icon {
			height: 1.25em;
			vertical-align: middle;
		}
	}
</style>
