<footer>
	<p hidden id="progress-indicator" style="text-align: left">
		Working &nbsp;∗&nbsp;
		<span id="progress-indicator-percentage">0</span>%
	</p>
	<p style="text-align: right">
		Developed and maintained with {{> svg/love }} by Autumn and Bee &nbsp;∗&nbsp;
		<a href="https://github.com/everloste/dptoolkit-web" target="_blank">Source code</a>
		&nbsp;∗&nbsp;
		<a href="https://github.com/everloste/dptoolkit-web/issues/new/choose" target="_blank"
			>Report issues</a
		>
		&nbsp;∗&nbsp;
		<a href="https://everloste.github.io/discord" target="_blank">Discord server</a>
		&nbsp;∗&nbsp;{{> svg/flag-ie }}&nbsp;{{> svg/flag-lesbian }}&nbsp;{{> svg/flag-trans }}
	</p>
</footer>
