<dialog id="intro-dialog">
	<div id="intro-contents">
		<img src="title.png" alt="Datapack Toolkit" />
		<p>Datapack Toolkit is an easy-to-use Minecraft worldgen datapack configuration tool.</p>
		<p>
			This version is still early in development, and as such you may encounter bugs - please report
			them to us!
		</p>
		<p>
			This tool is in no way associated with Minecraft or Mojang Studios. Creators of datapacks are
			not liable for their functionality after you modify them.
		</p>
		<div class="button-container">
			<button type="button">Ok! Let me configure</button>
		</div>
	</div>
</dialog>

<style>
	#intro-contents {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
	}
</style>
