<template id="text-widget-template">
	<div class="widget text-widget">
		<p class="widget-text">A text widget...</p>
	</div>
</template>

<template id="title-widget-template">
	<div class="widget title-widget">
		<h2 class="widget-text">A title widget...</h2>
	</div>
</template>

<template id="heading-widget-template">
	<div class="widget heading-widget">
		<h3 class="widget-text">A heading widget...</h3>
	</div>
</template>

<template id="image-widget-template">
	<div class="widget image-widget">
		<img src="" class="widget-image" alt="" />
	</div>
</template>

<template id="slider-widget-template">
	<div class="widget slider-widget widget-with-input">
		<label class="widget-text">A slider</label>
		<div class="widget-value">
			<span class="widget-value-text">0</span>
			<input type="range" class="widget-input widget-range-input" id="widget-input-x" />
		</div>
	</div>
</template>

<template id="switch-widget-template">
	<div class="widget switch-widget widget-with-input">
		<label class="widget-text">A switch</label>
		<input type="checkbox" class="widget-input widget-switch-input switch" id="widget-input-x" />
	</div>
</template>

<template id="number-widget-template">
	<div class="widget number-widget widget-with-input">
		<label class="widget-text">A number box</label>
		<input type="number" class="widget-input widget-number-input" id="widget-input-x" />
	</div>
</template>

<template id="structure-widget-template">
	<div class="structure-widget">
		<h3 class="widget-text">StructureName</h3>
		<div class="widget number-widget widget-with-input">
			<label class="widget-text">Spacing:</label>
			<input
				type="number"
				step="2"
				min="0"
				max="4096"
				class="widget-input widget-number-input structure-spacing"
			/>
		</div>
		<div class="widget number-widget widget-with-input">
			<label class="widget-text">Separation:</label>
			<input
				type="number"
				min="0"
				max="4096"
				class="widget-input widget-number-input structure-separation"
			/>
		</div>
		<div class="widget number-widget widget-with-input">
			<label class="widget-text">Frequency:</label>
			<input
				type="number"
				step="0.05"
				min="0"
				max="1"
				class="widget-input widget-number-input structure-frequency"
			/>
		</div>
	</div>
	<button type="button" id="stucture-reset-x">Reset to original</button>
</template>
